<!DOCTYPE html>
<html>

  <body>
    <h1>Editing List</h1>
    
    <%= render "form", list: @list %>

    <span><%= link_to 'Back', lists_path %></span>

  </body>

</html>






<!-- <h1>Editing List</h1>
<#%= render 'form', list: @list %>
<#%= link_to 'Show', @list %> |
<#%= link_to 'Back', lists_path %> -->
