<!DOCTYPE html>
<html>

  <body>
    <h1>New Dog</h1>
    
    <%= render "form", dog: @dog %>

    <span><%= link_to 'Back', dogs_path %></span>

  </body>

</html>


<!-- <h1>New Dog</h1>
<#%= render 'form', dog: @dog %>
<#%= link_to 'Back', dogs_path %> -->
